<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mdd.common.mapper.apif.DataApifMapper">


    <select id="listUserApif" resultType="com.mdd.common.vo.apif.DataApifVo">
        select id from la_data_apif_order
    </select>

</mapper>